body {
  font-family: "Lucida Sans", sans-serif;
    background-color: #DCF0F7;
}

.head-title {
  width: 100%;
  text-align: center;
  background-color: #FF9900;
}

.head-title h1{
  margin:0%;
  padding: 1%;
}

ul {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
    float: left;
    list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.intro {
  width: 100%;
}

.about-me {
  float: left;
  text-align: left;
  width: 50%;
  margin: 5% 5% 5% 5%;
}

.about-photo {
  width: 40%;
  float: left;
  margin-top: 4%;
}

.photo-work{
  width: 150%;
  height: 300px;
}

.footer {
   position: relative;
   bottom:0;
   right: 0;
   bottom: 0;
   width:100%;
   background-color: #111;
   text-align: center;
   color: #FF9900;
   font-size: 2.4rem;
}

.portfolio-photo{
  background-color: #66c2ff;
}

.portfolio-photo h2{
  float: left;
  text-align: left;
}

.portfolio-photo {
  margin: 5% 5% 5% 5%;
  float: center;
  width: 100%;
}

.banner-p {
  margin-bottom: 2%;
  float: left;
  width: 100%;
}

.photoswork {
  float: left;
  width: 25%;
  display: inline-block;
}

.photo-title {
  text-align: left;
  float: left;
  display: block;
}

.photo-desc {
  text-align: left;
  float: left;
  display: block;
}
